*.json
*.csv
*.ipynb
*.txt
kensho.py

*.out
data/

RawOnlyNews

modelticremove2

grid_search.py

SEC_CTM
*.npy

edgar-crawler

__pycache__

company_id.py

model_save

106

logs

__pycache__

.ipynb_checkpoints

data
concept_result
edgar_crawler
results
ticker_data

DB

db.py